.bg {
    width: 80%;
    margin: auto;
    padding-top: 36px;
}

.background {
    background-image: url(../../../public//landing//freebook//image.jpeg);
    width: 100%;
    height: 130px;
}
.img{
    width: 100% !important;
    height: auto;
}
@media (min-width: 300px) and (max-width: 450px) {
    .bg {
        padding-top: 10px;
    }
    .img{
        display: none;
    }
}