.container {
  @media (max-width: 425px) {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.d_flex {
  display: flex;
  flex-direction: row;
  text-align: left;
}

@media (min-width: 300px) and (max-width: 450px) {
  .d_flex {
    display: block !important;
    text-align: center;
  }
}