.bg{
    width: 80%;
    margin: 30px auto;
    background-image: url(../../../public/landing//faq/image1.jpeg);
    margin-top: 0px;
}
@media (min-width: 300px) and (max-width: 600px) {
    .bg {
       width: 100% !important;
       margin: 0px auto;
    }
    .back{
        width: 90%;
        margin: auto;
    }
}