/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    width: 100%;
    max-width: 960px;
    padding: 0 16px;
  }

  .grid {
    display: flex;
    flex-direction: column-reverse;
  } */

@media (min-width: 300px) and (max-width: 475px) {
  .grid .md-order-1 {
    order: 1;
  }

  .grid .md-order-2 {
    order: 2;
  }
  .container {
    margin: 14rem auto 13rem auto;
  }

}
