.container {
  @media (max-width: 425px) {
    padding: 4rem 1rem 1rem 1rem;
  }
}

.circle {
  width: 75px;
  height: 75px;
  border: 1px solid #244BA8;
  border-radius: 50%;

}

.left_border {
  width: 14px;
  height: 91px;
  border-left: 10px solid #244ba8;
  display: flex;
}

.space {
  justify-content: space-between !important;
  display: flex;
}

@media (min-width: 300px) and (max-width: 450px) {
  .space {
    display: block;
    margin-top: 20px;
  }
  .box{
    margin-top: 45px;
  }
}